{% extends 'article_base.html' %}
{% load articleinfo %}

{% block left %}
    <!-- Left Column -->
    <div class="col-sm-3">
        <!-- List-Group Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Completely Synergize</h1>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">Resource Taxing</a>
                <a href="#" class="list-group-item">Premier Niche Markets</a>
                <a href="#" class="list-group-item">Dynamically Innovate</a>
                <a href="#" class="list-group-item">Objectively Innovate</a>
                <a href="#" class="list-group-item">Proactively Envisioned</a>
            </div>
        </div>

        <!-- Text Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Dramatically Engage</h1>
            </div>

            <div class="panel-body">
                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                <p><button class="btn btn-default">Engage</button></p>
            </div>
        </div>

        <!-- Text Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    Active Predomination
                </h3>
            </div>
            <div class="panel-body">
                <p>Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Resource</button>
                    <button type="button" class="btn btn-default">Envision</button>
                    <button type="button" class="btn btn-default">Niche</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Left Column -->
{% endblock left %}

{% block center %}
    <!-- Center Column -->
    <div class="col-sm-6">
        <!-- Alert -->
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Synergize:</strong> Seamlessly visualize quality intellectual capital!
        </div>

        <!-- Articles -->
        {% for article in article_list %}
            <div class="row">
                <article class="col-xs-12">
                    <h2 class="entry-title"><a href="{% url "focus:detail" article.id %}">{{ article.title }}</a></h2>
                    <div class="entry-meta">
                        <span class="post-author">{{ article.author }}</span>
                        <span class="post-date">{{ article.create_time|date:"Y-m-d H:i" }}</span>
                        <span class="views-count">浏览 {{ article.views }}</span>
                    </div>
                    <div class="category">
                        分类：
                         <a href="{% url "focus:category" article.category.id %}" class>{{ article.category }}</a>
                    </div>
                    <div class="category">
                        标签：
                        {% for tag in article.tags.all %}
                            <a href="{% url "focus:tag" tag.id %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <p>{{ article.content|truncatechars_html:54 | safe }}</p>
                    <p><button class="btn btn-default" onclick="window.location.href='{% url "focus:detail" article.id %}' ">Read More</button></p>
                    <ul class="list-inline">
                        <li><a href="#"><span class="glyphicon glyphicon-comment"></span>{{ article.comment_num }} Comments</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span>{{ article.like_num }} Likes</a></li>
                    </ul>
                </article>
            </div>            
            <hr>
        {% endfor %}

        <!--paginator-->
        {% if is_paginated %}
        <div class="pagination">
          {% if first %}
            <a href="?page=1">1</a>
          {% endif %}
          {% if left %}
            {% if left_has_more %}
                <span>...</span>
            {% endif %}
            {% for i in left %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
          {% endif %}
          <a href="?page={{ page_obj.number }}" style="color:blue">{{ page_obj.number }}</a>
          {% if right %}
            {% for i in right %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if right_has_more %}
                <span>...</span>
            {% endif %}
          {% endif %}
          {% if last %}
            <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
          {% endif %}
        </div>
        {% endif %}
        <!--/paginator-->
    </div>
    <!-- /Center Column -->
{% endblock center %}
